/* Nel tuo file style.css */

/* Font personalizzato da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Utilizza il font nei tuoi selettori */
body {background-color: beige;
    font-family: 'Roboto', sans-serif;
}

/* Modifica altri stili dei tuoi elementi HTML */
.card {
    margin-bottom: 20px; /* Aggiungi margine tra le card */
}
.card-deck {
    margin-top: 20px; /* Aggiungi margine superiore alle card */
}
.box{border-radius: 100px; 
    border: 2px solid rgb(180, 7, 7);
     width: 200px; 
     height: 200px; 
     display: flex; 
     justify-content: center; 
     align-items: center;
    background-color: white;
}
/* Stile per il box con l'immagine */
.box {
    display: inline-block; /* Permette al box di adattarsi alle dimensioni dell'immagine */
    
}

/* Applica text-align: start al paragrafo */
.p1 {
    text-align: start;
}
.p2 {text-align: end;}

.pic{border-radius: 100px;
   margin-left: 3px;
   margin-top: 3px;
}

.links{text-align: center;} 

a{ text-decoration: none;
color: white;} 

.links1{
    margin-left: 70px;

}
.links2{ margin-left: 30px;}
h3{ margin-left: 60px;}












@media (max-width: 789px) {
    .box {
        display: block; /* Cambia il display dei box in block per una visualizzazione verticale */
        margin-top: 20px; /* Aumenta il margine in alto per separare i box */
        
    }

    .box img {
        max-width: 100%; /* Assicura che l'immagine rimanga entro il box */
    }

    .p1 {
        font-size: 14px; /* Riduci la dimensione del testo del paragrafo */
    }
    .p2 {
        font-size: 14px; /* Riduci la dimensione del testo del paragrafo */
    }
    footer {
        font-size: 14px;
        text-align: start;
    }

}






