/* Nel tuo file style.css */

/* Font personalizzato da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Utilizza il font nei tuoi selettori */
body {background-color: beige;
    font-family: 'Roboto', sans-serif;
}
.navbar-custom{
    margin: 5vh 15vh 0vh 15vh ;
    border-radius: 10px;
}
.transition{ 
    transition: 1s;
}






/* Modifica altri stili dei tuoi elementi HTML */
.card {
    margin-bottom: 20px; /* Aggiungi margine tra le card */
}
.card-deck {
    margin-top: 20px; /* Aggiungi margine superiore alle card */
}



/* Applica text-align: start al paragrafo */
.p1 {
    text-align: start;
}
.p2 {text-align: end;}


.links{text-align: center;} 

a{ text-decoration: none;
color: white;} 

.links1{
    margin-left: 70px;

}
.links2{ margin-left: 30px;}
.h3{ margin-left: 60px;}

/* prova  */
.img-category{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 2px solid rgb(180, 7, 7);
    background-color: white;
    padding: 5px;
}


.boxNumbers{
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px; }

    .card:hover>div>img{
        transform: scale(1.2);
    }
    
    .secondary1:hover {
        background-color: #dc3545; /* Cambia il colore di sfondo in rosso */
        border-color: #dc3545; /* Cambia il colore del bordo in rosso */
        color: #fff; /* Cambia il colore del testo in bianco */
    }

.img-prop{height: 250px;}





@media (max-width: 789px) {
    .box {
        display: block; /* Cambia il display dei box in block per una visualizzazione verticale */
        margin-top: 20px; /* Aumenta il margine in alto per separare i box */
        
    }

    .box img {
        max-width: 100%; /* Assicura che l'immagine rimanga entro il box */
    }

    .p1 {
        font-size: 14px; /* Riduci la dimensione del testo del paragrafo */
    }
    .p2 {
        font-size: 14px; /* Riduci la dimensione del testo del paragrafo */
    }
    footer {
        font-size: 14px;
        text-align: start;
        display: inline-block;
    }
    .boxNumbers {
        width: 100%; /* Imposta la larghezza al 100% per occupare tutto lo spazio disponibile */
        max-width: 300px; /* Imposta una larghezza massima per evitare che diventino troppo grandi */
        margin-bottom: 20px; /* Aggiungi un margine inferiore per separare i div */
    }
    .card {
        width: 80%;
        height: 85%; /* Puoi regolare la larghezza come preferisci */
        margin: 0 auto; /* Per centrare le card orizzontalmente */
    }

    .img-category{width: 150px;
    height: 150px;}

}






